<div class="col-md-0 col-md-offset-1"><%= link_to "Back", projects_path, class: "btn btn-default" -%></div>
<h2>Edit Profile</h2>

<%= form_for(resource, as: resource_name, url: employee_registration_path(resource_name), html: {class: "form-horizontal", method: :put}) do |f| %>
  <%= render partial: "employees/registrations/form", locals: {f: f, button_text: "Update Member"} -%>
<% end %>

